*{
    margin: 0;
    padding: 0;
}
.father {
    padding: 3% 0 0 3%;
}
div div{
    float: left;
    padding: 30% 0 0 0;
    margin: 0 3.3% 3.3% 0;
    width: 30%;
    background: yellow;
    border-radius: 10px;
    display: inline-block;
}