*{
    margin: 0;
    padding: 0;
}
html{
    background-color: #68cdd5;
    font-size: 625%;
    color: #ffffff;
}
.back-button{
    width: .27rem;
    height: .27rem;
    margin: 0.1rem 0.18rem;
    background: url(task3-assets/back.png) no-repeat;
    -webkit-background-size: .27rem;
    background-size: .27rem;
}
.logo{
    padding-top: .2rem;
}
.logo .ppt{
    background: url(task3-assets/head-logo.png) no-repeat;
    -webkit-background-size:100%;
    background-size:100%;
    width: .9rem;
    height: .35rem;
    margin: 0 auto;
}
.content{
    font-size:.15rem;
    margin:.8rem .2rem;
}
.button{
    font-size:.12rem;
    text-align: center;
}
.left{
    float: left;
    margin-left: .2rem;
}
.right{
    float: right;
    margin-right: .2rem;
}
.pic{
    width: .42rem;
    height: .42rem;
    margin: 0 auto;
}
.left .pic1{
    background: url("task3-assets/group-logo.png") no-repeat;
    -webkit-background-size:100%;
    background-size:100%;
}
.right .pic2{
    background: url("task3-assets/ppt-logo.png") no-repeat;
    -webkit-background-size:100%;
    background-size:100%;
}