html {
    font-size: 625%;
}
body {
    background: #fafafa;
}
/*页面顶部开始*/
.page-top {
    height: .4rem;
    font-size: .14rem;
    line-height: .4rem;
    color: #29b078;
}
.page-top .social-app {
    display: flex;
    justify-content: flex-end;
    align-items:center;
    height: .4rem;
}
.page-top .social-app span {
    width: .25rem;
    height: .24rem;
    margin-left: .1rem;
}
.page-top .social-app .wechat {
    background: url("img/public.png") no-repeat 0 0;
}
.page-top .social-app .qq {
    background: url("img/public.png") no-repeat -.3rem 0;
}
.page-top .social-app .sina {
    background: url("img/public.png") no-repeat -.6rem 0;
}
/*页面顶部结束*/


/*页面导航栏开始*/
.page-nav {
    background: #29b078;

}
.page-nav .navbar-header .navbar-brand {
    display: block;
    width: 1.07rem;
    margin-top: .25rem;
    background: url("img/jnshu-logo.png") no-repeat 0 0;

}
@media screen and (max-width: 767px) {
    .page-nav .navbar-header .navbar-brand {
        margin-top: 0;
        margin-left: .1rem;
    }
}
.page-nav .navbar-header .icon-bar {
    background: #ffffff;
}
.navbar-collapse .navbar-nav a {
    color: #ffffff;
    height: 1rem;
    width: 1rem;
    line-height: .7rem;
    text-align: center;
}
@media screen and (max-width: 767px) {
    .navbar-collapse .navbar-nav a {
        height: .5rem;
        width: 100%;
        line-height: .3rem;
    }
}
.navbar-collapse .navbar-nav a:hover {
    background: #29b078;
    border-bottom: 2px solid #ffffff;
    box-sizing: border-box;
}
.navbar-collapse .navbar-nav a:visited {
    background: #29b078;
}
/*页面导航栏结束*/

/*main-top开始*/
.main {
    padding-top: .3rem;
}
.main .main-top{
    padding-bottom: .3rem;
}

.main .main-top-item {
    text-align: center;
    padding-top: .2rem;

}
.main .main-top-item .img-wrapper {
    position: relative;
    height: .62rem;
    margin-bottom: .3rem;
}
.main .main-top-item .item-img {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;

}


.main .main-top-item .item-tt {
    padding-bottom: .2rem;
    text-align: center;
    font-size: .18rem;
    font-weight: bold;
}
.main .main-top-item .item-txt {
    text-align: left;
    font-size: .16rem;
    color: #9d9d9d;
}
.main .slide {
    border-right: 2px dashed #9d9d9d;
}
@media screen and (max-width: 767px) {
    .main .slide{
        border: none;
    }
}
.main .counts {
    position: relative;
    transform: translate(0,50%);
}
.main .counts .man-icon {
    display: inline-block;
    width: .13rem;
    height: .13rem;
    background: url("img/public.png") no-repeat 0 -.47rem;
}
.main .counts .user-member {
    color: #29b078;
}
.main .counts p {
    color: #9d9d9d;
}
/*main-top结束*/

/*如何学习开始*/
.main .middle-hd {
    height: 1rem;
    font-size: .18rem;
    font-weight: bold;
    line-height: 1rem;
    text-align: center;

}


.main .learn {
    position: relative;
}

.main .learn-step {
    display: flex;
    align-items: center;
    padding-top: .1rem;
    padding-bottom: .1rem;
}


.main .learn .step {
    width: .5rem;
    height: .5rem;
    border-radius: .25rem;
    background: #ffffff;
    box-shadow: -1px 1px 2px #9d9d9d;
    color: #29b078;
    font-size:.18rem;
    text-align: center;
    line-height: .5rem;

}
.main .learn .step-txt {
    flex: 1;
    align-self: center;
    padding-left: .1rem;
    font-size: .14rem;
    color: #999999;
}

.main .learn .arrow-icon{
    width: .28rem;
    height: .24rem;
    background: url("img/public.png") no-repeat -57px -34px;
    margin-left: .1rem;
    margin-right: .1rem;
}



/*如何学习结束*/

/*学员展示开始*/


.show-wall-hd {
    height: 1rem;
    font-size: .18rem;
    font-weight: bold;
    line-height: 1rem;
    text-align: center;
}

.show-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: .2rem;
    margin-bottom: .2rem;
    background: #fff;
    -webkit-box-shadow: 1px 1px 2px #999;
       -moz-box-shadow: 1px 1px 2px #999;
            box-shadow: 1px 1px 2px #999;
}
.show-item .photo{
    float: none;
    width: 1rem;
    height: 1rem;
    border-radius: 50%;

}
.show-item .photo1 {
    background: url("img/member1.jpg") no-repeat center;
}
.show-item .photo2 {
    background: url("img/member2.jpg") no-repeat center;
}
.show-item .photo3 {
    background: url("img/member3.jpg") no-repeat center;
}
.show-item .photo4 {
    background: url("img/member4.jpg") no-repeat center;
}
.show-item .name {
    flex: auto;
    font-size: .18rem;
    font-weight: bold;
    padding-top: .2rem;
    padding-bottom: .2rem;

}
.show-item .intro {
    font-size: .16rem;
    color: #999999;
}

.page-dot {
    padding-top: .2rem;
    padding-bottom: .2rem;
    text-align: center;
}
.page-dot .dot {
    display: inline-block;
    width: .1rem;
    height: .1rem;
    border-radius: 50%;
    background: #ffffff;
    -webkit-box-shadow: 1px 1px 2px #999;
       -moz-box-shadow: 1px 1px 2px #999;
            box-shadow: 1px 1px 2px #999;
}
.page-dot .active {
    background: #29b078;
}
/*学员展示结束*/

/*战略合作伙伴开始*/
.main .partnership-hd {
    font-size: .18rem;
    font-weight: bold;
    height: 1rem;
    line-height: 1rem;
    text-align: center;
}

.main .partnership-item {
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
}

.main .wrapper {
    display: block;
    position: relative;
    width: 20%;
    overflow: hidden;
}
.main .wrapper .partner{
    text-align: center;
    background: #fff;
}
@media screen and (max-width: 767px){
    .main .wrapper {
        width: 33.33%;
    }
}
@media screen and (max-width: 767px){
    .main .wrapper {
        width: 100%;
    }
}
.main .wrapper img{
    max-width: 100%;
}

.main .wrapper:hover {
    -webkit-box-shadow: 1px 1px 2px #999;
    -moz-box-shadow: 1px 1px 2px #999;
    box-shadow: 1px 1px 2px #999;

}


/*战略合作伙伴结束*/

/*友情链接开始*/

 .friend-bg-wrapper{
    background: #ffffff;
    margin-top: .9rem;
}

 .friend-link-hd {
    height: .5rem;
    font-size: .18rem;
    font-weight: bold;
    line-height: .5rem;
    text-align: center;
}
.link-wrapper .link-list{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding:0;
}

.link-wrapper .link-list .list-item {
    position: relative;
    display: flex;
    height: .36rem;
    line-height: .36rem;
    width: 10%;

}
@media screen and (max-width: 767px){
    .link-wrapper .link-list .list-item {
        width: 20%;
    }
}
@media screen and (max-width: 424px){
    .link-wrapper .link-list .list-item {
        width: 33.33%;
    }
}
.link-wrapper .link-list .list-item a {

    display: block;
    padding-left: .1rem;
    font-size: .14rem;
    color: #999999;
}
.link-list .list-item a:hover{
    text-decoration: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border-bottom: 2px solid #29b078;
}
.link-list .list-item .spot{
    position: absolute;
    top: .16rem;
    left: 0;
    display: block;
    width: .04rem;
    height: .04rem;
    background: #999999;
    border-radius: .02rem;
}

/*页尾开始*/
.footer {
    position: relative;

    color: #ffffff;
    background: #29b078;
}
.footer .footer-info {

}
.footer .footer-item {
    padding-top: .4rem;
}
.footer .footer-item a{
    display: inline-block;
    height: .3rem;
    line-height: .3rem;
    text-decoration: none;
    font-size: .14rem;
}
.footer .footer-item a:hover {
    border-bottom: 2px solid #ffffff;
}

.footer .footer-item:nth-of-type(1) .footer-tt{
    padding-bottom: .7rem;
}
.footer .footer-item:nth-of-type(2) .footer-tt{
    padding-bottom: .4rem;
}

.footer .footer-item .wechat{
    padding-bottom: .2rem;
    float: right;
}
@media screen and (max-width: 767px){
    .footer .footer-item .wechat{
        float: left;
    }
}
.footer .footer-tt {
    font-size: .16rem;
    padding-bottom: .2rem;
}
.footer a {
    font-size: .14rem;
    color: #ffffff;

}
.footer .copyright {
    padding-top: .05rem;
    padding-bottom: .05rem;
    text-align: center;
    border-top: 1px solid #32c086;
}