@charset "utf-8";

@body-bg: #eff0f4;
@blue: #5fc0cd;
@b:block;
@ib:inline-block;
@f:flex;
@abs:absolute;
@rel:relative;

html{
  font-size: 625%;
}
body {
  margin: 0;
  padding: 0;
  background-color: @body-bg;
}
//头部按钮相同部分开始
@top-lh: .45rem;
@top-c: #ffffff;
@text-d: none;
@contaniner-padding: .15rem;
.top-btn(){
  display: @ib;
  font-size: .16rem;
  color: @top-c;
  text-decoration: @text-d;
  line-height: @top-lh;
  padding: 0 @contaniner-padding;
}
//头部按钮相同部分结束
.page-top{
  position: @rel;
  background: @blue;
  .top-left{
    .top-btn();
    position: @abs;
    top: 0;
    left: 0;

  }
  h3{
    color: @top-c;
    margin: 0;
    font-size: .18rem;
    font-weight:normal;
    line-height: @top-lh;
    text-align: center;
  }
  .top-right{
    .top-btn();
    position: @abs;
    top: 0;
    right: 0;

  }
}

.ph(@phc:#e1e5e7){
  &:-moz-placeholder{
    color: @phc;
  }
  &::-webkit-input-placeholder{
    color: @phc;
  }
  &:-ms-input-placeholder{
    color: @phc;
  }
}

//input公共样式开始
.user-info{
  display: flex;
  align-items: center;
  height: .5rem;
  margin-top: .07rem;
  background: #ffffff;
  label{
    font-size: 0;
  }
  input{
    display: @ib;
    flex: 1;
    height: .25rem;
    font-size: .16rem;
    border: none;
    border-left: 2px solid #eaedee;
    outline: none;
    padding-left: .16rem;
    .ph
  }
}
.user-icon(@imgurl){
  display: @ib;
  width: .14rem;
  height: .2rem;
  padding: 0 .18rem;
  background: @imgurl no-repeat center;
  -webkit-background-size: contain;
  background-size: contain;
}
//input公共样式结束

.content{
  .user-account{
    span{
      .user-icon(url("img/iphone.png"));
    }
  }

  .user-password{
    span{
      .user-icon(url("img/locked-2.png"));
    }
  }

  .login-btn{
    height: .5rem;
    background: @blue;
    margin-top: .35rem;
    font-size: .18rem;
    color: #ffffff;
    width: 100%;
    border: none;
    outline: none;
    cursor: pointer;
  }
  a{
    font-size: .16rem;
    color: @blue;
    text-decoration: @text-d;
    float: right;
    padding-right: @contaniner-padding;
  }
}
