html {
    font-size: 625%;
}
body {
    background: #fafafa;
}
/*页面顶部开始*/
.page-top {
    height: .4rem;
    font-size: .14rem;
    line-height: .4rem;
    color: #29b078;
}
.page-top .social-app {
    display: flex;
    justify-content: flex-end;
    align-items:center;
    height: .4rem;
}
.page-top .social-app span {
    width: .25rem;
    height: .24rem;
    margin-left: .1rem;
}
.page-top .social-app .wechat {
    background: url("img/public.png") no-repeat 0 0;
}
.page-top .social-app .qq {
    background: url("img/public.png") no-repeat -.3rem 0;
}
.page-top .social-app .sina {
    background: url("img/public.png") no-repeat -.6rem 0;
}
/*页面顶部结束*/


/*页面导航栏开始*/
.page-nav {
    background: #29b078;

}
.page-nav .navbar-header .navbar-brand {
    display: block;
    width: 1.07rem;
    margin-top: .25rem;
    background: url("img/jnshu-logo.png") no-repeat 0 0;

}
@media screen and (max-width: 767px) {
    .page-nav .navbar-header .navbar-brand {
        margin-top: 0;
        margin-left: .1rem;
    }
}
.page-nav .navbar-header .icon-bar {
    background: #ffffff;
}
.navbar-collapse .navbar-nav a {
    color: #ffffff;
    height: 1rem;
    width: 1rem;
    line-height: .7rem;
    text-align: center;
}
@media screen and (max-width: 767px) {
    .navbar-collapse .navbar-nav a {
        height: .5rem;
        width: 100%;
        line-height: .3rem;
    }
}
.navbar-collapse .navbar-nav a:hover {
    background: #29b078;
    border-bottom: 2px solid #ffffff;
    box-sizing: border-box;
}
.navbar-collapse .navbar-nav a:visited {
    background: #29b078;
}
/*页面导航栏结束*/


/*面包屑导航开始*/
.page-content .breadcrumb {
    background: none;
    height: .8rem;
    line-height: .8rem;

}
@media screen and (max-width: 767px) {
    .page-content .breadcrumb {
        height: .4rem;
        line-height: .4rem;

    }
}
.page-content .breadcrumb>li+li:before {
    content: '>';
}
.page-content .breadcrumb li {
    color: #29b078;
    font-size: .16rem;
}
.page-content .breadcrumb li a {
    color: #000;

}
/*面包屑导航结束*/


/*合作企业侧边栏开始*/
.page-content .slide{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items:center;
    background: #fff;
    -webkit-box-shadow: 1px 1px 1px #e1e1e1;
       -moz-box-shadow: 1px 1px 1px #e1e1e1;
            box-shadow: 1px 1px 1px #e1e1e1;
    margin-bottom: .5rem;
}
.page-content .slide .slide-tt{
    font-size: .16rem;
    font-weight: bold;
    text-align: center;
    border-bottom: 1px solid #e1e1e1;
    height: .6rem;
    width: 100%;
    line-height: .6rem;
}

.page-content .slide .slide-list li{
    font-size: .14rem;
    list-style-image: url("img/circle.png");
    height: .5rem;
    line-height: .5rem;

}

@media screen and (max-width:767px){
    .page-content .slide .slide-list li{
        height: .3rem;
        line-height: .3rem;
    }
}

.slide-list li a{
    color: #29b078;
    text-decoration: none;
}

.page-content .slide .slide-list li:hover {
    list-style-image: url("img/disc.png");
}
.slide .slide-list li:hover a{
    color: #ff650e;
}
/*合作企业侧边栏结束*/

/*主内容开始*/
.page-content .main{
    color: #999999;
    padding-bottom: .5rem;
    margin-bottom: .5rem;
    text-align: justify;
    background: #fff;
    -webkit-box-shadow: 1px 1px 1px #e1e1e1;
    -moz-box-shadow: 1px 1px 1px #e1e1e1;
    box-shadow: 1px 1px 1px #e1e1e1;
}
.page-content .main p{
    line-height: .28rem;
    margin-bottom: .15rem;
}

.main .main-top{
    padding-top: .25rem;
    padding-right: .6rem;
    padding-left: .6rem;
    border-bottom: 1px solid #e1e1e1;
}
@media screen and (max-width:767px){
    .page-content .main-top{
        padding-top: .1rem;
        padding-left: .1rem;
        padding-right: .1rem;
    }
}

.main .main-top .logo{
     text-align: center;
}

@media screen and (max-width:767px){
    .main-top .intro{
        padding: .05rem;
    }
}
.page-content .main .info{
    text-indent: .28rem;
    padding-top: .4rem;
    padding-left: .6rem;
    padding-right: .6rem;
}
@media screen and (max-width:767px){
    .page-content .main .info{
        padding-top: .2rem;
        padding-left: .15rem;
        padding-right: .15rem;
    }
}
/*主内容结束*/

/*页尾开始*/
.footer {
    position: relative;

    color: #ffffff;
    background: #29b078;
}
.footer .footer-info {

}
.footer .footer-item {
    padding-top: .4rem;
}
.footer .footer-item a{
    display: inline-block;
    height: .3rem;
    line-height: .3rem;
    text-decoration: none;
    font-size: .14rem;
}
.footer .footer-item a:hover {
    border-bottom: 2px solid #ffffff;
}

.footer .footer-item:nth-of-type(1) .footer-tt{
    padding-bottom: .7rem;
}
.footer .footer-item:nth-of-type(2) .footer-tt{
    padding-bottom: .4rem;
}

.footer .footer-item .wechat{
    padding-bottom: .2rem;
    float: right;
}
@media screen and (max-width: 767px){
    .footer .footer-item .wechat{
        float: left;
    }
}
.footer .footer-tt {
    font-size: .16rem;
    padding-bottom: .2rem;
}
.footer a {
    font-size: .14rem;
    color: #ffffff;

}
.footer .copyright {
    padding-top: .05rem;
    padding-bottom: .05rem;
    text-align: center;
    border-top: 1px solid #32c086;
}
/*页尾结束*/