
html{
    font-size: 625%;

}
body{
    background: #ffffff;

}

.header{
    z-index:999;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    /*width:100%;*/
    background: #5fc0cd;
    height: .44rem;
    text-align: center;
}
.header .map{
    float: right;
    width: .22rem;
    height: .19rem;
    margin-right: .15rem;
    margin-top: .1rem;
    background: url("img/sprite.png") no-repeat 0 0;
    -webkit-background-size: cover;
    background-size: cover;
}
.header .header-btn{
    position: absolute;
    display: flex;
    background: #55a8b3;
    font-size: .17rem;
    color: #ffffff;
    top: 0;
    left: 50%;
    margin-left: -.72rem;
    margin-top:.05rem;
    height: .35rem;
    width: 1.44rem;
    border-radius: .06rem;
    line-height: .35rem;
}
.header .employers{
    height:100%;
    width:50%;
    color: #ffffff;
    border-radius: .06rem;

}
.header .employees{
    height:100%;
    width:50%;
    background: #ffffff;
    color: #55a8b3;
    border-radius: .06rem;

}
.content .btn-group{
    border-bottom:1px solid #dadcdd;
    width:100%;
}
.content .btn-group>.btn:nth-of-type(2){
    border-left:1px solid #dadcdd;
    border-right:1px solid #dadcdd;
}
.content .btn-group button{
    border:none;
}


.content .content-list>.row{
    border-bottom: 1px solid #dadcdd;
    padding-top: .15rem;
    padding-left: .15rem;
}
.content .content-list>.row:first-of-type{
    padding-top: 0;
}

.content .content-list .list-date{
    color: #999999;
}
.content .content-list .list-icon{
    color: #dadcdd;
}
.content .content-list .list-price{
    color: #ff0000;
}

.content .content-list .date{
    display: inline-block;
    padding-left: .34rem;

}

.content .content-list .left-icon{
    display: inline-block;
    float: right;
    padding-right: .2rem;

}
.content .content-list .price{
    display: inline-block;
    float: right;
    padding-right: .15rem;
}


.content{
    padding-top: .44rem;
    padding-bottom: .56rem;
    overflow: hidden;
}

footer{
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    background: #ffffff;
}

footer .row>div {
    text-align: center;
}
footer .row a{
    display: inline-block;
    margin:0 auto;
    color: #5fc0cd;
}
footer .row>div:last-of-type a{
    color: #999999;
}

footer .house{
    margin:0 auto;
    width: .23rem;
    height: .20rem;
    background: url("img/sprite.png") no-repeat 0 -.38rem;
    -webkit-background-size:100%;
    background-size:100%;
}
footer .write-bg{
    width: .47rem;
    height: .47rem;
    background: #5fc0cd;
    border-radius: .235rem;
    overflow: hidden;
}
footer .write{

    margin: 0.135rem auto;
    width: .2rem;
    height: .2rem;
    background: url("img/sprite.png") no-repeat 0 -.21rem;
    -webkit-background-size:118%;
    background-size:118%;

}
footer .user-info{
    margin:0 auto;
    width: .23rem;
    height: .20rem;
    background: url("img/sprite.png") no-repeat 0 -.58rem;
    /*-webkit-background-size:cover;*/
    background-size:100%;
}